body {
  margin: 0;
  padding: 0;
  background-color: #000000; /* Gray background for the rest of the page */
}

.background-image {
  background-image: url('../images/dh_4.jpg');
  background-size: contain; /* Change 'cover' to 'contain' */
  background-position: center;
  background-repeat: no-repeat;
  padding: 70vh 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.dashboard {
  background-color: #202020;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 6vh;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
}

.dashboard a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1em;
}

.profile-picture {
  position: absolute;
  top: 15%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 200px;
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.intro {
  font-family: 'Inter';
  font-size: 40px;
  line-height: 1.333;
  text-align: left;
  position: absolute;
  top: 60%;
  left: 32%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.intro h1 {
  color: #FF0000;
  font-size: 80px;
  font-weight: bold;
}

.intro p {
  margin: 0;
}

.intro .white {
  color: #616161;
}

.intro .red {
  color: #FF0000;
}

.intro h3, .intro h5 {
  color: #616161;
  margin: 10px 0;
}

footer {
  background-color: #202020;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.footer-left img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.footer-right {
  flex-grow: 1;
  text-align: right;
  padding-right: 20px;
}

.footer-right h5 {
  margin: 0;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .background-image {
      position: relative;
      height: auto;
      padding: 100% 0;
      width: 100%;
      border-radius: 0;
      box-shadow: none;
  }

  .profile-picture {
      width: 100px;
      height: 150px;
      top:5%;
      left: 10%;
      transform: translateX(-50%);
      z-index: 2;
  }

  .intro {
      font-size: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .dashboard {
      padding: 10px;
  }

  .dashboard a {
      margin: 5px 10px;
  }

  footer {
    flex-direction: column; /* Arrange footer items vertically for smaller screens */
}

.footer-left,
.footer-right {
    justify-content: center; /* Center align footer items for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
}

.footer-right h5 {
    font-size: 14px; /* Adjust font size for smaller screens */
}
}
